input[type="button"]
{
  height: 50px;
  width: 50px;
  margin: 10px 4px;
  box-shadow: inset 1px 1px 50px  #0066FF;
}
button{
  height: 50px;
  width: 50px;
  margin: 10px 4px;

}

.calcBG {
    width: 280px;
    background-color: #0000CC;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: inset 1px 1px 50px #000;
    margin: 25vh auto;
  }